<mat-card>
  <mat-card-header>
    <mat-card-title>Asignaturas
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-table [dataSource]="asignaturas">

      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Nombre}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>

</mat-card>
