<mat-card>
  <mat-card-header>
    <mat-card-title>Asignaturas
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-table [dataSource]="asignaturas" multiTemplateDataRows>

      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">


            <mat-table [dataSource]="element.Cursos">

              <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let curso"> {{curso.Nombre}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="ver">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let curso">
                  <button mat-icon-button (click)="inscribirCurso(curso)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              
              <mat-header-row *matHeaderRowDef="displayedColumnsCurso"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsCurso;"></mat-row>
            </mat-table>


          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
    </mat-table>
  </mat-card-content>

</mat-card>
