<mat-card>
  <mat-card-header>
    <mat-card-title>Asignaturas
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let asignatura of asignaturas">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{asignatura.Nombre}}
          </mat-panel-title>
          <mat-panel-description *ngIf="asignatura.Cursos.length == 0">Sin cursos</mat-panel-description>
          <mat-panel-description *ngIf="asignatura.Cursos.length == 1">1 curso</mat-panel-description>
          <mat-panel-description *ngIf="asignatura.Cursos.length > 1">{{asignatura.Cursos.length}} cursos</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let curso of asignatura.Cursos">
            <button mat-icon-button (click)="verAlumnos(curso)"><mat-icon>people</mat-icon></button>
            <h4 mat-line>Docente {{curso.Docente}}</h4>
            <p mat-line>Cupo máximo {{curso.CupoMaximo}} alumnos</p>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>

</mat-card>
